.article {
	position: relative;
	width: 98vw;
	height: 35vw;
	background-color: DarkGray;
	border-bottom: solid 1px black;
}

#article_name {
	position: absolute;
	top: 1vw;
	left:35vw;
}

#article_info {
	position: absolute;
	top: 11vw;
	left:35vw;
	width: 40vw;
}

#article_price {
	position: absolute;
	top: 6vw;
	left:35vw;
}

#article_photo {
	position: absolute;
	width: 30vw;
	height: 25vw;
	left: 2vw;
	top: 2vw;
}

#add {
	position: absolute;
	top: 4vw;
	right: 7vw;
	height: 9vw;
	width: 9vw;
	background-color: DarkSlateGray;
	border-color: black;
	color: White;
}