#top_bar {
	margin-top: 10px;
	width: 97vw;
	height: 7vw;
	background-color: DarkSlateGray; 
	position: relative;
}

#middle {
	position: relative;
	width: 97vw;
	height: 100vw;
	background-color: DarkGray;
}

#middle-middle {
	position: relative;
	width: 65vw;
	height: 100vw;
	background-color: DarkGray;
}

#left_bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vw;
	width: 15vw;
	background-color: SlateGray;
}

#right_bar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vw;
	width: 15vw;
	background-color: SlateGray;	
}

.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	width: 15vw;
	height: 8vw;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#left_bar li {
	padding-top: 5vw;
}

#left_bar li button {
	width: 10vw;
	height: 2vw;
	background-color: DarkSlateGray;
	border-color: black;
	color: White;
}

#title {
	position: absolute;
	font-size: 2vw;
	top: 0;
	left: 40vw;
}
