body {
	background-color: Red;
	height: 100%;
}

html{
	height: 100%;
}

.top-bar {
	margin-top: 10px;
	background-color: DarkGray;
	height: 50px;
	width: 100%;
	box-shadow: 5px 5px;
}

nav ul {
	float: left;
}

nav p {
	float: left;
	font-family: arial;	
	font-size: 18px;
	margin-left: 6px;
}

a {
	text-decoration: none;
	color: Black;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a {
	font-family: arial;
	font-size: 18px;
	display: block;
	padding-right: 180px;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: DarkGray;
	border-radius: 0px 0px 4px 4px;
	width: 250px;
	box-shadow: 3px 3px;
	padding-top: 20px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}


nav ul li ul li a {
	padding-bottom: 20px;
}

nav ul li ul li a:hover {
	background-color: Gray;
}
