body {
	background-color: Red;
	height: 100%;
}

html{
	height: 100%;
}

nav {
	margin-top: 10px;
	background-color: DarkGray;
	position: absolute;
	height: 5vw;
	width: 95vw;
	box-shadow: 5px 5px;
}

nav ul {
	float: left;
	width: 80vw;
}

nav p {
	float: left;
	font-family: arial;	
	font-size: 18px;
	margin-left: 6px;
}

a {
	text-decoration: none;
	color: Black;
}

nav ul li {
	float: left;
	width: 10vw;
	list-style: none;
	position: relative;
}

nav ul li a {
	font-family: arial;
	font-size: 1.8vw;
	display: block;
	position: relative;
}

nav ul li ul {
	display: none;
	position: relative;
	background-color: DarkGray;
	border-radius: 0px 0px 4px 4px;
	width: 250px;
	box-shadow: 3px 3px;
	padding-top: 20px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 18vw;
	border-radius: 4px;
	position: relative;
}


nav ul li ul li a {
	padding-bottom: 20px;
	position: relative;
}

nav ul li ul li a:hover {
	background-color: Gray;
}

.top-bar {

}
